@page
@model Bar_Bite.Pages.CreateStudentModel
@{
}
<form method="post">
	<div class="modal-header">
		<h4 class="modal-title">Add Employee</h4>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	</div>
	<div class="modal-body">

		<div class="form-group">
			<label>Name</label>
			<input asp-for="student.Name" class="form-control" required>
		</div>

		<div class="form-group">
			<label>Description</label>
			<input asp-for="student.Description" class="form-control" required>
		</div>
	</div>
	<div class="modal-footer">
		<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
		<input type="submit" class="btn btn-success" value="Add">
	</div>
</form>